.nav-link.anim {
    transition: transform 0.4s ease-in-out;
}

.nav-link.anim:hover {
    transform: scale(1.07);
}

.nav-link.logo {
    color: #000;
    font-size: 24px;
    padding: 2px;
    transition: transform 0.4s ease-in-out;
}

.nav-link.logo:hover {
    transform: scale(1.07);
}